<div class='container'>
  <div class="row">
    <div class="col-md-2">
      <h1>Welcome!</h1>

      <%= button_to "Log an outfit", new_outfit_path, method: :get %>

    </div>
  </div>
  <h3>Check out what some other people are wearing</h3>
  <%= render @outfits %> 
</div>
